body 
{
    background-color: burlywood;
}

div{
    border: 1px solid red;
    background-color: aqua;
    width: 300px;
    height: 20px;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
}