body 
{
    background-color: burlywood;
}

div{
    border: 1px solid red;
    background-color: aqua;
    width: 300px;
    height: 40px;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
}

.text-profil
{
    color:crimson;
    font-size: large;
}
